// Tablet & Smaller
@media (max-width: 1050px) {
  #header-home {
    height: 50rem;
    .header-content {
      padding-top: 5rem;
    }
  }

  //Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #resume-d .cert,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  #resume {
    &-c {
      #timeline {
        ul {
          li {
            margin-left: 20px;

            &:nth-child(even) div {
              left: 70px;
            }

            &:nth-child(even) div::before {
              left: -15px;
              border-width: 8px 16px 8px 0;
              border-color: transparent $dark-color transparent transparent;
            }

            &:nth-child(even) div.work::before {
              left: -15px;
              border-width: 8px 16px 8px 0;
              border-color: transparent $work-color transparent transparent;
            }
            div {
              width: calc(100vw - 150px);
            }
          }
        }
      }
    }

    &-d {
      .cert {
        & > div {
          height: 250px;
          width: 75%;
          margin: auto;
          gap: 2rem;
          margin-bottom: 1rem;

          img {
            overflow: hidden;
          }
        }
      }
    }
  }
}

// Smartphone
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 10rem;
      border-bottom: 3px solid $main-color;
    }
  }

  //Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #resume-d .cert,
  #contact-b .contact-info,
  #imp-content,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "phone"
          "subject"
          "message";
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px $medium-color solid;

        &:last-child {
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  #resume {
    &-c {
      #timeline {
        ul {
          li {
            margin-left: 20px;

            &:nth-child(even) div {
              left: 70px;
            }

            &:nth-child(even) div::before {
              left: -15px;
              border-width: 8px 16px 8px 0;
              border-color: transparent $dark-color transparent transparent;
            }

            &:nth-child(even) div.work::before {
              left: -15px;
              border-width: 8px 16px 8px 0;
              border-color: transparent $work-color transparent transparent;
            }
            div {
              width: calc(100vw - 150px);
            }
          }
        }
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
      a {
        padding-bottom: 0.2rem;
      }
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

// Landscape Iphone 5
@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }

  #header {
    &-inner {
      height: 10rem;
      border-bottom: 3px solid $main-color;
    }
  }

  //Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "phone"
          "subject"
          "message";
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px $medium-color solid;

        &:last-child {
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}
